<header class="container-fluid d-flex flex-column justify-content-center position-fixed">
  <nav class="container uppercase d-flex justify-content-between align-items-center">
    <div id="logo" class="d-flex align-items-center">
      <a routerLink="/">
        SkumShop
      </a>
      <span>&lt;under construction&gt;</span>
    </div>
    <div id="top-menu">
      <ul class="d-flex">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/forum" routerLinkActive="active">Forum</a></li>
      </ul>
    </div>
  </nav>
</header>

<div id="hero" class="d-flex flex-column justify-content-end align-items-center">
  <div class="hero-content">
    <div class="container">
      <h1 class="heading secondary text-normal">Welcome to SkumShop</h1>
      <p class="lead">The website is currently under construction. Check back soon or <a
          href="https://discord.gg/2cB9kX5" target="_blank">join our Discord</a> for updates.</p>
    </div>
  </div>
</div>

<!-- <div class="container">
  <router-outlet></router-outlet>
</div>

<div class="container">
  Footer
</div> -->
