header {
    height: 5em;
    z-index: 1000;
    background: rgba(25, 11, 40, .6);
    font-family: 'Odibee Sans', cursive;
}

nav {
    #logo {
        font-size: 1.75em;

        img {
            height: 3em;
            width: auto;
        }

        a {
            color: #ffd23f;
            text-decoration: none;
        }

        span {
            font-family: 'Share Tech Mono', monospace;
            text-transform: lowercase;
            font-size: .5em;
            margin-left: 1em;
        }
    }

    #top-menu {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-left: 1em;
            }
        }
    }
}

#hero {
    height: 90vh;
    margin-bottom: 10vh;
    position: relative;
    background: url('/assets/astronaut.jpg') no-repeat center center;
    background-size: cover;

    .hero-content {
        text-align: center;
        max-width: 600px;
        z-index: 100;
        margin-bottom: 10vh;
        // border: rgba(0, 0, 0, .25) 4px solid;

        h1 {
            font-size: 2.5em;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30vh;
        background-image: linear-gradient(to top, #190b28, transparent);
    }
}
